body{
    font: 20px Arial, sans serif;
}

.navbar {
    color: #088A29;    
}

.quem-somos{
    background-color: thistle;
    color:black;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px; 
}

.parceiros {
    background-color: darkkhaki;
    font-family: Arial, Helvetica, sans-serif
}

.serviços{
    background-color: thistle;
    font-family: Arial, Helvetica, sans-serif;
}

.lg-footer {
    background-color: black;
    color: white;
}